aside#izq{
    width: 19%;
    float: left;
    background-color: rgb(95, 77, 77);
}

aside#der{
    padding-left: 10px;
    width: 80%;
    float: left;
}


article img,article video{
    padding-left: 2%;
    width: 50%;
    float: left;
}

img.imga{
    padding-left: 2% !important;
    width: 100% !important;
    float: none !important;
}

article aside{
    padding-top: 2%;
    padding-left: 2%;
    width: 45%;
    float: left;
}

ul{
    padding-left: 40px;
    float: left;
}
