aside#izq{
    width: 19%;
    float: left;
    background-color: rgb(95, 77, 77);
}

aside#der{
    padding-left: 10px;
    width: 80%;
    float: left;
}


article img,article video, article iframe{
    margin-left: 100px;
    border-radius: 20px;
    width: 40%;
    float: left;
}

.ita{
    width: 80% !important;
    float: none !important;
}

article aside{
    padding-top: 2%;
    padding-left: 2%;
    width: 45%;
    float: left;
}



