@font-face{
    font-family: fmenu;
    src: url("../fuentes/GloriaHallelujah-Regular.ttf");
}

@font-face{
    font-family: ftitulo;
    src: url("../fuentes/Lobster-Regular.ttf");
}

@font-face{
    font-family: ftexto;
    src: url("../fuentes/PermanentMarker-Regular.ttf");
}

@font-face{
    font-family: fpie;
    src: url("../fuentes/IndieFlower-Regular.ttf");
}

@font-face{
    font-family: flistas;
    src: url("../fuentes/NanumPenScript-Regular.ttf");
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../imagenes/wall.jpg);
}

header img{
    border-radius: 20px;
}

header a#por{
    width: 13%;
    float: left;
}

header .icono{
    width: max-content;
    float: left;
    text-align: center;
}

nav.menu a{
    font-family: fmenu;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav.menu{
    height: max-content;
    width: 10%;
    float: left;
    text-align: center;
    background-color: rgb(95, 77, 77);
}

nav.menu:hover{
    background-color: rgb(126, 37, 37);
}

header input{
    width: 62%;
    height: 25px;
    float: left;
    margin-top: 20px;
}

h1,h2,h3{
    padding-left: 12px;
    font-family: ftitulo;
    color: slategray;
}

p{
    font-family: ftexto;
    color: slategray;
}

ul{
    font-family: flistas;
    color: slategray;
}


nav.vinculo a{
    font-family: fmenu;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav.vinculo{
    height: max-content;
    text-align: center;
    background-color: rgb(95, 77, 77);
}

nav.vinculo:hover{
    background-color: rgb(126, 37, 37);
}

.mitad{
    text-align: center;
}

section{
    background-color: #F5F5F5;
    border-radius: 20px;
}

article{
    background-color: #C2C2C2;
    border-radius: 20px;
}

div.separadores{
    width: 99%;
    height: 10px;
    clear: both;
}

footer{
    font-family: fpie;
    color: white;
}

footer img{
    width: 20%;
    margin-right: 55px;
    height: 64px;
}

fieldset{
    margin-left: 4%;
    width: 25%;
    float: left;
    padding-left: 40px;
}

span#derechos{
    float: right;
}