div#separador{
    width: 99%;
    height: 1px;
    clear: both;
}


section p {
    text-align: center;
    width: 40%;
    float: left;
}

section aside{
    text-align: center;
    width: 60%;
    float: left;
}

.dep{
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    text-align: center;
}

article#cita *{
    float: left;
}
article#cita{
    padding-left: 20%;
}

.exponentes{
    padding-left: 17%;
    float: left;
    text-align: center;
}

