section blockquote {
    text-align: center;
    width: 35%;
    float: left;
}

section aside{
    text-align: center;
    width: 59%;
    float: left;
}

.dep{
    margin-left: 4%;
    float: left;
}

article#cita *{
    float: left;
}
article#cita{
    margin-left: 20%;
}

.exponentes{
    margin-left: 16%;
    float: left;
    text-align: center;
}
input.btn{
    margin-bottom: 10px;
}

img{
    border-radius: 20px;
}

section,article{
    margin: auto 50px;
}